@import "tailwindcss";

@theme {
  --font-display: 'Anton', sans-serif;
  --font-ui: 'Rajdhani', sans-serif;
  
  --color-acid: #ccff00;
  --color-danger: #ff2a2a;
  --color-concrete: #292524;
  --color-carbon: #0c0a09;
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
  .font-ui {
    font-family: var(--font-ui);
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    background: #1c1917;
  }
  ::-webkit-scrollbar-thumb {
    background: #44403c;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ccff00;
  }

  /* Grunge Texture Overlay */
  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
  }

  .text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    color: transparent;
  }
  
  .clip-slant {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  }
  
  .clip-tag {
    clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  }
}